.greeting {
    flex-direction: column;
    margin-top: 3em;
}

.greeting__name {
    color: var(--clr-primary);
}

.greeting__role {
    margin-top: 1.2em;
}

.greeting__desc {
    font-size: 1rem;
    max-width: 600px;
}

.greeting__desc,
.greeting__contact {
    margin-top: 2.4em;
}

.greeting .link--icon {
    margin-right: 0.8em;
}

.greeting .btn--outline {
    margin-right: 1em;
}

@media (max-width: 600px) {
    .app .greeting {
        align-items: flex-start;
        margin-top: 2em;
    }
}